#**Challenge Of the Week: Gaussien Naive Bayes Classifier**

---

##**Case Study:** Iris Dataset

**Objective:** The objective of this challenge is to make you know about Naive Bayes applied on Numerical Values.

**DataSet Columns:**<br>
*	 Petal Height
*  Petal Width	
*  Sepal Height	
*  Sepal Width	
*  Target: The kind of the Iris flower (Virginica, Setosa, Versicolor)

# Importing Libraries

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

# Loading the Dataset

In [ ]:
path ='/content/iris.csv'
df = pd.read_csv(path)
df.columns = ['Sepal Height', 'Sepal Width', 'Petal Height', 'Petal Width', 'Target']
df.head()

   Sepal Height  Sepal Width  Petal Height  Petal Width  Target
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

##Data Preprocessing

We will Change the string values to numerical.

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Target']=encoder.fit_transform(df['Target'])
df.head()

   Sepal Height  Sepal Width  Petal Height  Petal Width  Target
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

Make sure we have no null values

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal Height  150 non-null    float64
 1   Sepal Width   150 non-null    float64
 2   Petal Height  150 non-null    float64
 3   Petal Width   150 non-null    float64
 4   Target        150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

#Naive Bayes

##Finding different Classes

First, let's try to find how many classes we have in our dataset, although it should always appear in the description of your dataset.

In [ ]:
targets = df['Target'].unique()
print(targets)

[0 1 2]

SO we have 3 classes of flowers.

Remember the basic formula that we used for Naive Bayes. <br>
<img src="https://equatio-api.texthelp.com/svg/%5C%20P(%5Ctextcolor%7B%232B7FBB%7D%7BClass%7D%7C%5Ctextcolor%7B%23E94D40%7D%7BFeatures%7D)%3D%5Cfrac%7BP(%5Ctextcolor%7B%23E94D40%7D%7BFeatures%7D%7C%5Ctextcolor%7B%232B7FBB%7D%7BClass%7D)%5Ccdot%20P%5Cleft(%5Ctextcolor%7B%232B7FBB%7D%7BClass%7D%5Cright)%7D%7BP(%5Ctextcolor%7B%23E94D40%7D%7BFeatures%7D)%7D" alt="P of open paren C l a. s s divides F of e a. t u r e s close paren equals the fraction with numerator P of open paren F of e a. t u r e s divides C l a. s s close paren times P of open paren C l a. s s close paren and denominator P of F of e a. t u r e s">

Since we have 3 classes, and 4 features, we need to calculate the following probabilities.<br>
<img src="https://equatio-api.texthelp.com/svg/P(%5Ctextcolor%7B%232B7FBB%7D%7BClass_0%7D%7C%5Ctextcolor%7B%23E94D40%7D%7BF1%2CF2%2CF3%2CF4%7D)" alt="P of open paren C l a. s s sub 0 divides F of 1 comma F of 2 comma F of 3 comma F of 4 close paren"> <br>
<img src="https://equatio-api.texthelp.com/svg/P(%5Ctextcolor%7B%232B7FBB%7D%7BClass_1%7D%7C%5Ctextcolor%7B%23E94D40%7D%7BF1%2CF2%2CF3%2CF4%7D)" alt="P of open paren C l a. s s sub 1 divides F of 1 comma F of 2 comma F of 3 comma F of 4 close paren"> <br>
<img src="https://equatio-api.texthelp.com/svg/P(%5Ctextcolor%7B%232B7FBB%7D%7BClass_2%7D%7C%5Ctextcolor%7B%23E94D40%7D%7BF1%2CF2%2CF3%2CF4%7D)" alt="P of open paren C l a. s s sub 2 divides F of 1 comma F of 2 comma F of 3 comma F of 4 close paren">

So in reality we need to calculate the following:

<img src="https://equatio-api.texthelp.com/svg/P_0%3DP(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_1%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_0%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_2%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_0%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_3%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_0%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_4%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_0%7D%7D)" alt="P sub 0 equals P of open paren F sub 1 divides C l a. s s sub 0 close paren P of open paren F sub 2 divides C l a. s s sub 0 close paren P of open paren F sub 3 divides C l a. s s sub 0 close paren P of open paren F sub 4 divides C l a. s s sub 0 close paren"><img src="https://equatio-api.texthelp.com/svg/P%5Cleft(%5Ctextcolor%7B%232B7FBB%7D%7BClass_0%7D%5Cright)" alt="P of open paren C l a. s s sub 0 close paren"><br><img src="https://equatio-api.texthelp.com/svg/P_1%3DP(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_1%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_1%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_2%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_1%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_3%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_1%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_4%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_1%7D%7D)" alt="P sub 1 equals P of open paren F sub 1 divides C l a. s s sub 1 close paren P of open paren F sub 2 divides C l a. s s sub 1 close paren P of open paren F sub 3 divides C l a. s s sub 1 close paren P of open paren F sub 4 divides C l a. s s sub 1 close paren"><img src="https://equatio-api.texthelp.com/svg/P%5Cleft(%5Ctextcolor%7B%232B7FBB%7D%7BClass_1%7D%5Cright)" alt="P of open paren C l a. s s sub 1 close paren"><br>
<img src="https://equatio-api.texthelp.com/svg/P_2%3DP(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_1%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_2%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_2%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_2%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_3%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_2%7D%7D)P(%5Ctextcolor%7B%232B7FBB%7D%7B%5Ctextcolor%7B%23E94D40%7D%7BF_4%7D%7D%7C%5Ctextcolor%7B%23E94D40%7D%7B%5Ctextcolor%7B%232B7FBB%7D%7BClass_2%7D%7D)P%5Cleft(%5Ctextcolor%7B%232B7FBB%7D%7BClass_2%7D%5Cright)" alt="P sub 2 equals P of open paren F sub 1 divides C l a. s s sub 2 close paren P of open paren F sub 2 divides C l a. s s sub 2 close paren P of open paren F sub 3 divides C l a. s s sub 2 close paren P of open paren F sub 4 divides C l a. s s sub 2 close paren P of open paren C l a. s s sub 2 close paren">

We see which one is the greatest, and based on that we assign the class.

Those probabilities will be approximated using a distribution. 
In this example, we will use the Gaussien Distribution.

##Gaussian Probability Density Function

We recall that teh Gaussien Probability density function is given by:
<br>
<img src="https://equatio-api.texthelp.com/svg/f%5Cleft(x%5Cright)%3D%5Cfrac%7B1%7D%7B%5Csqrt%7B2%5Cpi%7D%5Ctextcolor%7B%238D44AD%7D%7B%5Csigma%7D%7D%5Cexp%5Cleft%5C%7B-%5Cfrac%7B%5Cleft(x-%5Ctextcolor%7B%233697DC%7D%7Bmean%7D%5Cright)%5E2%7D%7B2%5Ctextcolor%7B%238D44AD%7D%7B%5Csigma%7D%5E2%7D%5Cright%5C%7D" alt="f of x equals 1 over the square root of 2 pi sigma the exp of open brace negative the fraction with numerator open paren x minus m e a. n close paren squared and denominator 2 sigma squared close brace">

In [ ]:
def probability (x, mean, sigma):
  prob = np.exp(-((x-mean)**2)/(2*sigma**2))/(sigma*np.sqrt(2*math.pi))
  return prob

##Naive Bayes Implementation

In [ ]:
def naive_bayes (df, features, target_name):

  num_examples = float(len(df))
  num_features = features.shape[0]

  #Separate Classes
  class_0 = df[df[target_name]==0]
  class_1 = df[df[target_name]==1]
  class_2 = df[df[target_name]==2]
  

  #Probability of each class
  p_class_0 = len(class_0)/num_examples
  p_class_1 = len(class_1)/num_examples
  p_class_2 = len(class_2)/num_examples

  #mean and std for each feature given each class
  mean_given_0 = np.mean(class_0, axis=0)
  mean_given_1 = np.mean(class_1, axis=0)
  mean_given_2 = np.mean(class_2, axis=0)

  std_given_0 = np.std(class_0, axis=0)
  std_given_1 = np.std(class_1, axis=0)
  std_given_2 = np.std(class_2, axis=0)

  #Probability of features given a specific class
  p_f_given_0 = []
  p_f_given_1 = []
  p_f_given_2 = []

  for i in range(num_features):
    p_given_0 = probability(features[i], mean_given_0[i], std_given_0[i])
    p_f_given_0.append(p_given_0)

    p_given_1 = probability(features[i], mean_given_1[i], std_given_1[i])
    p_f_given_1.append(p_given_1)

    p_given_2 = probability(features[i], mean_given_2[i], std_given_2[i])
    p_f_given_2.append(p_given_2)

  p0 = np.prod(p_f_given_0)*p_class_0
  p1 = np.prod(p_f_given_1)*p_class_1
  p2 = np.prod(p_f_given_2)*p_class_2

  return np.argmax([p0, p1, p2])

Test Naive Bayes with a prediction.

In [ ]:
features = np.array([4.9, 3.0,	1.4,	0.2])
result = naive_bayes(df, features, 'Target')
print("This Iris flower is in the class ",result)

    Sepal Height  Sepal Width  Petal Height  Petal Width  Target
0            5.1          3.5           1.4          0.2       0
1            4.9          3.0           1.4          0.2       0
2            4.7          3.2           1.3          0.2       0
3            4.6          3.1           1.5          0.2       0
4            5.0          3.6           1.4          0.2       0
5            5.4          3.9           1.7          0.4       0
6            4.6          3.4           1.4          0.3       0
7            5.0          3.4           1.5          0.2       0
8            4.4          2.9           1.4          0.2       0
9            4.9          3.1           1.5          0.1       0
10           5.4          3.7           1.5          0.2       0
11           4.8          3.4           1.6          0.2       0
12           4.8          3.0           1.4          0.1       0
13           4.3          3.0           1.1          0.1       0
14           5.8          4.0           1.2          0.2       0
15           5.7          4.4           1.5          0.4       0
16           5.4          3.9           1.3          0.4       0
17           5.1          3.5           1.4          0.3       0
18           5.7          3.8           1.7          0.3       0
19           5.1          3.8           1.5          0.3       0
20           5.4          3.4           1.7          0.2       0
21           5.1          3.7           1.5          0.4       0
22           4.6          3.6           1.0          0.2       0
23           5.1          3.3           1.7          0.5       0
24           4.8          3.4           1.9          0.2       0
25           5.0          3.0           1.6          0.2       0
26           5.0          3.4           1.6          0.4       0
27           5.2          3.5           1.5          0.2       0
28           5.2          3.4           1.4          0.2       0
29           4.7          3.2           1.6          0.2       0
30           4.8          3.1           1.6          0.2       0
31           5.4          3.4           1.5          0.4       0
32           5.2          4.1           1.5          0.1       0
33           5.5          4.2           1.4          0.2       0
34           4.9          3.1           1.5          0.2       0
35           5.0          3.2           1.2          0.2       0
36           5.5          3.5           1.3          0.2       0
37           4.9          3.6           1.4          0.1       0
38           4.4          3.0           1.3          0.2       0
39           5.1          3.4           1.5          0.2       0
40           5.0          3.5           1.3          0.3       0
41           4.5          2.3           1.3          0.3       0
42           4.4          3.2           1.3          0.2       0
43           5.0          3.5           1.6          0.6       0
44           5.1          3.8           1.9          0.4       0
45           4.8          3.0           1.4          0.3       0
46           5.1          3.8           1.6          0.2       0
47           4.6          3.2           1.4          0.2       0
48           5.3          3.7           1.5          0.2       0
49           5.0          3.3           1.4          0.2       0
This Iris flower is in the class  0

See the performance of our NB model

Now here we will splot our data between 2 sets:

*   One from which the Naive Bayes Model will take the probabilities. (The **old** set)
*   one that it hasn't seen before to test on it (The **new** set)

In [ ]:
from sklearn.model_selection import train_test_split
x_old, x_new, y_old, y_new = train_test_split(df.iloc[:,:-1], df.iloc[:,-1], test_size=0.2)

In [ ]:
old_dataFrame = pd.concat([x_old,y_old], axis=1)

errors = 0
for i in range(len(x_new)):
  res = naive_bayes(old_dataFrame, x_new.iloc[i,:], 'Target')
  if res!=y_new.iloc[i]:
    errors = errors + 1

accuracy = (len(x_new) - errors)*100/len(x_new)
print("Accuracy of our Naive Bayes is:", accuracy, "%")

Accuracy of our Naive Bayes is: 96.66666666666667 %